

.logo-button {
  float: left;

}

.navbar-button {
  padding: 0 200px;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.navbar-button li a {
  padding: 2rem;
  text-decoration: none;
  

}
